/* libre-baskerville-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* smooch-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Smooch Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/smooch-sans-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/geo-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dotgothic16-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DotGothic16';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/dotgothic16-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'PlaywriteHU';
  src: url('fonts/PlaywriteHU-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PlaywriteHU';
  src: url('fonts/PlaywriteHU-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PlaywriteHU';
  src: url('fonts/PlaywriteHU-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlaywriteHU';
  src: url('fonts/PlaywriteHU-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


:root {
    --blue: #0000ff;
    --white: #ffffff;
    --red: #ff0000;
    --green: #00ff00;
    --background-color: white;
    --text-color: black;
    --accent-color1: #de09ab; /* aka --netizen-attribute */
    --accent-color2: #0576e8; /* aka --netizen-tag */
    --accent-color3: #8811d9; /* aka --netizen-variable */
    --accent-color4: #269921; /* aka --netizen-property */
    --accent-color5: #0b47ad; /* aka --netizen-string */
    --accent-color6: #4c4c51; /* aka --netizen-operator */
}

* { box-sizing: border-box; }

*::-moz-selection {
  background-color: var(--blue);
  color: var(--white);
}

*::selection {
  background-color: var(--blue);
  color: var(--white);
}


/* image files by bokuwatensai */
/* https://www.cursors-4u.com/cursor/2014/03/14/rainbow-pinwheel-set.html */
@keyframes rainbow-cursor {
  0% { cursor: url(/images/rainbow-cursor/0.gif), auto; }
  5% { cursor: url(/images/rainbow-cursor/1.gif), auto; }
  9% { cursor: url(/images/rainbow-cursor/2.gif), auto; }
  14% { cursor: url(/images/rainbow-cursor/3.gif), auto; }
  18% { cursor: url(/images/rainbow-cursor/4.gif), auto; }
  23% { cursor: url(/images/rainbow-cursor/5.gif), auto; }
  27% { cursor: url(/images/rainbow-cursor/6.gif), auto; }
  32% { cursor: url(/images/rainbow-cursor/7.gif), auto; }
  36% { cursor: url(/images/rainbow-cursor/8.gif), auto; }
  41% { cursor: url(/images/rainbow-cursor/9.gif), auto; }
  45% { cursor: url(/images/rainbow-cursor/10.gif), auto; }
  50% { cursor: url(/images/rainbow-cursor/11.gif), auto; }
  55% { cursor: url(/images/rainbow-cursor/12.gif), auto; }
  59% { cursor: url(/images/rainbow-cursor/13.gif), auto; }
  64% { cursor: url(/images/rainbow-cursor/14.gif), auto; }
  68% { cursor: url(/images/rainbow-cursor/15.gif), auto; }
  73% { cursor: url(/images/rainbow-cursor/16.gif), auto; }
  77% { cursor: url(/images/rainbow-cursor/17.gif), auto; }
  82% { cursor: url(/images/rainbow-cursor/18.gif), auto; }
  86% { cursor: url(/images/rainbow-cursor/19.gif), auto; }
  91% { cursor: url(/images/rainbow-cursor/20.gif), auto; }
  95% { cursor: url(/images/rainbow-cursor/21.gif), auto; }
  100% { cursor: url(/images/rainbow-cursor/22.gif), auto; }
}

body {
  font-family: 'Libre Baskerville', Georgia, 'Times New Roman', serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;

  cursor: url(/images/cursors/rainbow/0.gif), auto;
  animation: rainbow-cursor 1.5s infinite;

  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
  --background-color: black;
  --text-color: white;
  --accent-color1: #ff7de9; /* aka --netizen-attribute */
  --accent-color2: #75bfff; /* aka --netizen-tag */
  --accent-color3: #b98eff; /* aka --netizen-variable */
  --accent-color4: #86de74; /* aka --netizen-property */
  --accent-color5: #b98eff; /* aka --netizen-string */
  --accent-color6: #cfcbc4; /* aka --netizen-operator */
}


a, .link {
  color: var(--blue);
  text-decoration: none;
}

a:hover, .link:hover {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

@keyframes rainbow {
  0% { background-position-x: -200%; }
  100% { background-position-x: 0%; }
}

a.button {
  font-family: 'Geo', monospace;
  font-size: 2em;
  padding: 0.5em 1em;
  border-radius: 2em;
  border: 4px solid var(--blue);
  animation: rainbow 5s linear infinite;
  text-align: center;
}

a.button:hover {
  color: var(--white);
  background: linear-gradient(to left, var(--red), var(--red), var(--blue), var(--blue), var(--green), var(--green), var(--red));
  background-size: 200%;
  text-decoration: none;
  opacity: 0.6;
}

.comming-soon {
  opacity: 0.5;
}

h1 {
  font-size: 4em;
  text-align: center;
}

@media (max-width: 650px) {
  h1 { font-size: 3em }
}

@media (max-width: 485px) {
  h1 { font-size: 2em }
}

@media (max-width: 328px) {
  h1 { font-size: 1em }
}

h2 {
  font-family: 'Smooch Sans', monospace;
  font-size: 3em;
  margin: 2em 0;
  text-align: center;
}

p, li, cite {
  max-width: 800px;
  font-size: 1.1em;
  line-height: 1.6em;
}

li {
  margin-bottom: 1em;
}

hr {
  max-width: 800px;
  border: none;
  border-top: 1px solid var(--text-color);
}

@media (max-width: 800px) {
  p, ul, ol, hr {
    padding: 5vw;
  }
}

img {
  max-width: 100%;
}

blockquote, article, .info-table {
  max-width: 800px;
  margin: 0 auto;
}

blockquote {
  position: relative;
  border: 2px solid var(--blue);
  border-radius: 15px 15px 0 0;
  background-color: var(--white);
  /* border-left: 10px solid var(--red);
  padding-left: 30px; */
  max-width: 800px;
  margin: 90px auto;
  line-height: 1.7em;
  font-size: 0.8em;
}

blockquote::before {
  content: "❝";
  display: block;
  width: 100%;
  height: 48px;
  background: var(--blue);
  color: var(--white);
  padding: 18px 10px;
  font-size: 3em;
  border-radius: 13px 13px 0 0;
  box-sizing: border-box;
}

blockquote::after {
  content: "";
  /* display: block; */
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3'%3E%3Ccircle cx='2.5' cy='2.5' r='.5' fill='%230000ff'/%3E%3C/svg%3E") repeat bottom left;
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: auto;
}

blockquote p {
  padding: 10px 38px;
  font-style: italic;
}

blockquote cite {
  text-align: right;
  display: block;
  color: var(--blue) !important;
  padding: 0 38px 20px 0;
}

blockquote cite:before {
  content: "— ";
}

strong {
  font-weight: bold;
  font-style: italic;
  color: var(--accent-color2);
}

code {
  color: var(--accent-color3);
}


.center {
  text-align: center;
  display: block;
  width: 100%;
}

article, .content {
  max-width: 800px;
  margin: 0 auto;
}

article.center a {
  display: block;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

article.center a:hover {
  border-bottom: none;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.grey, .caption {
  color: #888;
  text-align: center;
  display: block;
}

.caption {
  font-size: 0.9em;
  font-style: italic;
  margin: 1em 0;
}


.double {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.double div {
  width: 50%;
  max-width: 440px;
}

.double p {
  max-width: 440px;
}

@media (max-width: 986px) {
  .double { flex-direction: column; }
  .double div { margin: 40px auto; }
  .double p { margin: 40px auto; }
}

.double .rwd {
  max-height: 300px;
  width: auto;
}

@media (max-width: 986px) {
  .double .rwd {
    max-height: none;
    width: 100%;
  }
}
